*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 11vh;
    background-color: rgba(211, 222, 218, 0);
    width: 100%;
    border-bottom: 1px solid rgba(211, 222, 218, 0.4);

}

.logo {
    color: #fcfafa;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bolder;
    /*cursor: pointer;*/
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a{
    color: #fcfafa;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
}

.nav-links .contacts {
    font-size: 20px;
}

.nav-links #youtube {
    color: rgb(255, 0, 0);
}

.nav-links #facebook {
    color: #385898;
}

.nav-links #instagram {
    color: #C13584;
}

.logo:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    transition: 0.5s ease;
}

.nav-links li:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    transition: 0.5s ease;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #fcfafa;
    margin: 5px;
    transition: all 0.3s ease;

}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 53%;
    }
}


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: -40%;
        height: 100vh;
        top: 0vh;
        rgba(211, 222, 218, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: #40c3ff;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .body-slide-active {
        transform: translateX(-40%);
        transition: all 0.6s ease;
    }
}

.nav-active {
    transform: translateX(0%);
    transition: 0.6s;
}

@keyframes navLinkFadeIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}


/*Carousel*/

body {
    background: #D3CCE3;   /*fallback for old browsers*/
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);  /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.carousel-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    posiion: relative;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 100vh;
}

.carousel-slide img {
    width: 100%;
    margin: auto;
}


#previousBtn {
    position: absolute;
    top: 47%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

#previousBtn:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.4);
    transition: 0.5s ease;
}


#nextBtn {
    position: absolute;
    top: 47%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

#nextBtn:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.4);
    transition: 0.5s ease;
}

@media screen and (max-width:1024px) {
    .carousel-container {
        width: 100%;
    }

    .carousel-slide img {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .carousel-container {
        width: 100%;
    }

    .carousel-slide img {
        margin: auto;
        background-image: cover;
    }
}


#navigation-bar {
    position: absolute;
    width: 100%;
    z-index: 999;
}

#carousel {
    position: absolute;
}


input {
    display: none;
}

.dot-navigation {
    position: absolute;
    margin-top: -40px;
    /*background-color: orange;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

.manualBtn {
    border: 2px solid white;
    opacity: 0.7;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.manualBtn:not(:last-child) {
    margin-right: 20px;
}

.manualBtn:hover {
    background-color: white;
}

.dot-fill {
    background-color: white;
    /*opcaity: 0.7;*/
}








.main {
    top: 150vh;
    position: relative;
}
